body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: auto;
}

.home{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.task-details{
  background-color: #a0d2e7;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px black;
}
.create{
  background-color: #a0d2e7;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;  
  position: relative;
  box-shadow: 2px 2px 5px black;
}

.create input{
  border-radius: 4px;
}

.create button{
  background-color: #4d6cac;
}

